.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    background-repeat: no-repeat;
  

}
.H1Login{
    color: white;
    text-align: center;
    font-family: Georgia, serif;
}
.appButtonLogin{
    width: 80%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #d3ab1a;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 50px;

}

.appButtonLogin:hover {
    background-color: #917c31;
    cursor: pointer;
}
form{
    background-color: #1c3e50;
    padding: 0px 70px;
    border-radius: 10px;
    text-align: center;
}
.userNameP{
    color: white;
    padding: -20px;
}
