.Register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    background-repeat: no-repeat;

}

.RegisterH1{
    color: white;
    text-align: center;
}
.buttonRegister{
    width: 80%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #d3ab1a;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;

}

.buttonRegister:hover {
    background-color:#917c31;
    cursor: pointer;
}
input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
.PRegist{
    
    color: white;
    margin-top: 10px;
}